@charset "ISO-8859-1";
html, body {
			height: 100%;
		}
		body {
			background-color: rgb(251, 249, 246);
			font-family: 'Poppins';
			color: #2f3640;
		}
		.purpura {
			background-color: rgb(87, 16, 178);
			color: white;
			font-weight: 600;
		}
		.purpura2 {
			background-color: rgba(79, 12, 164, 1);
		}
		nav {
			text-align: end;
		}
		a {
			color: white !important;
		}
		a:hover {
			background-color: white;
			color: black !important;
		}
		.aOn {
			background-color: white;
			color: black !important;
		}
		table {
			border-collapse: collapse;
			overflow: hidden;
			/*box-shadow: 0 0 20px rgba(0,0,0,0.1);*/
			text-align: center;
			background-color: white;
		}
		table tr:hover {
			background-color: #a5c9fe;
			/*cursor: pointer;*/
		}
		table th {
			color: white;
		}
		table thead tr:hover {
			background-color: #0d6efd;
			cursor: inherit;
		}
		.btn-primary {
			width: 100%;
			background-color: rgb(87, 16, 178);
			border-color: rgb(87, 16, 178);
		}
		.btn-primary:hover {
			background-color: rgba(79, 12, 164, 1);
			border-color: rgba(79, 12, 164, 1);
		}
		#altura {
			height: 100%;
		}
		.edicion {
			background-color: inherit !important;
			color: black !important;
		}
		nav div a {
			background-color: inherit !important;
			color: white !important;
			font-weight: 600 !important;
		}
		nav div a:hover {
			color: white !important;
			font-weight: 800 !important;
		}